<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460514112975-2o6njj6o3k0kt0nd0av8c69678n3jjhf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460514112975-2o6njj6o3k0kt0nd0av8c69678n3jjhf</string>
	<key>API_KEY</key>
	<string>AIzaSyDjt02-e04sHIRe04Rj2mrLAVdb2N-qzwE</string>
	<key>GCM_SENDER_ID</key>
	<string>460514112975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cyanvillarin.swimminggems</string>
	<key>PROJECT_ID</key>
	<string>swimming-gems</string>
	<key>STORAGE_BUCKET</key>
	<string>swimming-gems.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460514112975:ios:3b8299932c952eab318eba</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-8855918227783661~1384483604</string>
</dict>
</plist>